@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>EPiServer Find Sample <small>Examples illustrating usage of the Find .NET Client API</small></h1>
</div>

<div class="row">
    <div class="col-md-8">
        <p>This project illustrates a number of ways to use the <a href="http://find.episerver.com">EPiServer Find</a> .NET Client API to build great search functionality. 
        It uses a read-only indexed populated with information about 340.000 restaurants all over the world. For more examples and information, see <a href="http://world.episerver.com/documentation/Other-products/EPiServer-Find/">the documentation</a>.</p>

        <h2>Source code</h2>
        <p>Each example contains a link for displaying the code needed to make the actual search request. The full source code for the project is available for <a href="https://github.com/AThraen/HotelsSample">download at GitHub</a>. It is based on an updated version of the original Truffler sample code located here: https://github.com/200OK/TrufflerSample </p>
        <p>The index URL used is read-only so you won't be able to index new data, but feel free to play around with the sample code and try out EPiServer Find.</p>
        
        <h2>Purpose/Disclaimer</h2>
        <p>Please note that this project is in no way an attempt to illustrate best practices for ASP.NET MVC or any other technology. It is designed to illustrate how various types of search functionality can be built using the EPiServer Find .NET API, and as such it intentionally contains a lot of code duplication and methods and classes that in a "real" project should be broken up into smaller pieces.</p>
        <h2>Credits</h2>
        <p>The project uses <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> for styling and <a href="http://jquery.com/">jQuery</a>, <a href="http://jqueryui.com">jQuery UI</a> as well as <a href="http://www.erichynds.com/jquery/jquery-ui-multiselect-widget/">jQuery UI MultiSelect</a> for client side interactions.
        </p>
    </div>
    <div class="col-md-2"></div>
</div>