<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net451" />
  <package id="bootstrap" version="3.0.1" targetFramework="net451" />
  <package id="dotless" version="1.4.4" targetFramework="net451" />
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net451" />
  <package id="EPiServer.Find" version="9.0.0.2183" targetFramework="net451" />
  <package id="jQuery" version="2.1.3" targetFramework="net451" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net451" />
  <package id="jQuery.UI.Themes.UI-Lightness" version="1.11.1" targetFramework="net451" />
  <package id="jQuery.Validation" version="1.13.1" targetFramework="net451" />
  <package id="jQuery.vsdoc" version="1.6" targetFramework="net451" />
  <package id="Jurassic" version="2.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Modernizr" version="2.8.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="SquishIt" version="0.8.0" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net451" />
  <package id="YUICompressor.NET" version="2.7.0.0" targetFramework="net451" />
</packages>