<div class="source-link-wrap"><a id="source-link" href="#">View Source</a></div>
    <pre id="source-code">
int pageSize = 10;
var page = p ?? 1;

var results = client.Search&lt;Hotel&gt;()
    .For(q)
    .Take(pageSize)
    .Skip((page-1) * 10)
                            .Select(x => new SearchHit
                            {
                                Title = x.Name,
                                Url = x.Website,
                                Location = new List<string> { x.ShortAddress, x.Location.Title, x.Location.Country.Title }.Concatenate(", "),
                                StarRating = (int) x.StarRating
                            })
    .GetResult();
</pre>
<script>
    $("#source-link").click(function () {
        $("#source-code").slideToggle();
        $("#source-link").toggleClass("open");
    });
</script>